menu "Database"

endmenu

menu "Pages"

    config PAGE_LOGIN
	string "Login"
	default "/login.cgi"
	help
		Login page to which user is redirected

endmenu

menu "Environment"

    config ENV_SESSION
	string "Session environment variable"
	default "ENVCGI"
	help
		Name of session environment variable

    config ENV_BACK
	string "Back link environment variable"
	default "BACK"
	help
		Environment variable included when redirecting to login page to allow return to requested page (if was a GET)
endmenu

menu "Passwords"

    config PASSWORD_MIN
    	int "Min password length"
	default 8
	help
		Default minimum password length

    config PASSWORD_MAX
    	int "Max password length"
	default 32
	help
		Default maximum password length

    config PASSWORD_ENTROPY
    	int "Min password entropy"
	default 40
	help
		Default minimum password entropy

    config PASSWORD_UPDATE
    	bool "Update to latest hash on login"
	default y
	help
		Update hash to latest hash on successful login

    config PASSWORD_ARGON2
    	bool "Accept Argon2 hash"
	default y
	help
		Accept Argon2 hashes

    config PASSWORD_SHA256
    	bool "Accept SHA256 hash"
	default y
	help
		Accept SHA256 hashes

    config PASSWORD_SHA1
    	bool "Accept SHA1 hash"
	default y
	help
		Accept SHA1 hashes

    config PASSWORD_MD5
    	bool "Accept MD5 hash"
	default y
	help
		Accept MD5 hashes

    config PASSWORD_MYSQL
    	bool "Accept mysql hash"
	default y
	help
		Accept mysql hashes

    config PASSWORD_OLDMYSQL
    	bool "Accept very old mysql hash"
	default n
	help
		Accept the very insure very old mysql password hashes
endmenu

menu "Misc"

    config SESSION_COOKIE
	string "Session cookie"
	default "ENVCGI"
	help
		Name of session cookie

endmenu
